openapi: 3.0.3
info:
  title: Stack Exchange API - Questions Answers
  description: API to retrieve info on Stack Exchange/Stack Overflow.
  version: 1.0.0
servers:
  - url: https://api.stackexchange.com/2.3
    description: Production server for Stack Exchange API
paths:
  /questions/{ids}:
    get:
      summary: Fetch questions by their IDs
      description: Returns the questions identified by the given IDs. Useful for fetching fresh data or polling for changes.
      operationId: getQuestionsByIds
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/OrderParam"
        - $ref: "#/components/parameters/SortParam"
        - $ref: "#/components/parameters/SiteParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PagesizeParam"
        - $ref: "#/components/parameters/FromDateParam"
        - $ref: "#/components/parameters/ToDateParam"
        - $ref: "#/components/parameters/MinParam"
        - $ref: "#/components/parameters/MaxParam"
      responses:
        "200":
          description: A JSON object containing the list of questions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Question"
                  has_more:
                    type: boolean
                  quota_max:
                    type: integer
                  quota_remaining:
                    type: integer
        "400":
          description: Bad request. Invalid parameters provided.
        "404":
          description: Not found. The requested resource could not be located.

  /questions/{ids}/answers:
    get:
      summary: Get answers for a set of questions
      operationId: getQuestionAnswers
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/OrderParam"
        - $ref: "#/components/parameters/SortParam"
        - $ref: "#/components/parameters/SiteParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PagesizeParam"
        - $ref: "#/components/parameters/FromDateParam"
        - $ref: "#/components/parameters/ToDateParam"
        - $ref: "#/components/parameters/MinParam"
        - $ref: "#/components/parameters/MaxParam"
        - $ref: "#/components/parameters/FilterParam"
      responses:
        "200":
          description: A successful response containing a list of answers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Answer"
                  has_more:
                    type: boolean
                  quota_max:
                    type: integer
                  quota_remaining:
                    type: integer
        "400":
          description: Bad request due to invalid parameters.
        "404":
          description: No answers found for the specified question IDs.
        "500":
          description: Internal server error.

  /questions/{ids}/comments:
    get:
      summary: Get comments for a set of questions
      description: Returns the comments associated with the specified question IDs. Use this method if you know the question IDs and need their comments.
      operationId: getQuestionComments
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/OrderParam"

        - $ref: "#/components/parameters/SiteParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PagesizeParam"
        - $ref: "#/components/parameters/FromDateParam"
        - $ref: "#/components/parameters/ToDateParam"
        - $ref: "#/components/parameters/MinParam"
        - $ref: "#/components/parameters/MaxParam"
        - $ref: "#/components/parameters/FilterParam"

        - name: sort
          in: query
          description: The field to sort by (e.g.,  "creation", "votes").
          required: false
          schema:
            type: string
            default: creation
            enum: [creation, votes]
      responses:
        "200":
          description: A successful response containing a list of comments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Comment"
                  has_more:
                    type: boolean
                  quota_max:
                    type: integer
                  quota_remaining:
                    type: integer
        "400":
          description: Bad request due to invalid parameters.
        "404":
          description: No comments found for the specified question IDs.
        "500":
          description: Internal server error.

components:
  parameters:
    IdParam:
      name: ids
      in: path
      required: true
      description: A semicolon-delimited list of question IDs (up to 100).
      schema:
        type: string
    OrderParam:
      name: order
      in: query
      description: The order of sorting (e.g., "desc" or "asc").
      required: false
      schema:
        type: string
        default: desc
        enum: [asc, desc]
    SortParam:
      name: sort
      in: query
      description: The field to sort by (e.g., "activity", "creation", "votes").
      required: false
      schema:
        type: string
        default: activity
        enum: [activity, creation, votes]
    SiteParam:
      name: site
      in: query
      description: The Stack Exchange site to query (e.g., "stackoverflow").
      required: true
      schema:
        type: string
        default: stackoverflow
        enum: [stackoverflow, stackexchange]
    FilterParam:
      name: filter
      in: query
      description: The Stack Exchange filtering. Allows getting body of comments/answer.
      required: false
      schema:
        type: string
        default: "withbody"

    PageParam:
      name: page
      in: query
      description: The page number for paginated results.
      required: false
      schema:
        type: integer
        default: 1
        minimum: 1
    PagesizeParam:
      name: pagesize
      in: query
      description: The number of items per page.
      required: false
      schema:
        type: integer
        default: 30
        minimum: 1
        maximum: 100
    FromDateParam:
      name: fromdate
      in: query
      description: Start date for filtering results (Unix epoch time).
      required: false
      schema:
        type: integer
    ToDateParam:
      name: todate
      in: query
      description: End date for filtering results (Unix epoch time).
      required: false
      schema:
        type: integer
    MinParam:
      name: min
      in: query
      description: Minimum value for the sort field.
      required: false
      schema:
        type: integer
    MaxParam:
      name: max
      in: query
      description: Maximum value for the sort field.
      required: false
      schema:
        type: integer
  schemas:
    Answer:
      type: object
      properties:
        owner:
          $ref: "#/components/schemas/User"
        is_accepted:
          type: boolean
        score:
          type: integer
        last_activity_date:
          type: integer
        last_edit_date:
          type: integer
        creation_date:
          type: integer
        answer_id:
          type: integer
        question_id:
          type: integer
        content_license:
          type: string
        body:
          type: string
    Question:
      type: object
      properties:
        tags:
          type: array
          items:
            type: string
        owner:
          $ref: "#/components/schemas/User"
        is_answered:
          type: boolean
        view_count:
          type: integer
        protected_date:
          type: integer
        closed_date:
          type: integer
        accepted_answer_id:
          type: integer
        answer_count:
          type: integer
        score:
          type: integer
        last_edit_date:
          type: integer
        last_activity_date:
          type: integer
        creation_date:
          type: integer
        question_id:
          type: integer
        link:
          type: string
        closed_reason:
          type: string
        title:
          type: string
        content_license:
          type: string
    User:
      type: object
      properties:
        accept_rate:
          type: integer
        account_id:
          type: integer
        display_name:
          type: string
        link:
          type: string
        profile_image:
          type: string
        reputation:
          type: integer
        user_id:
          type: integer
        user_type:
          type: string
    Comment:
      type: object
      properties:
        post_id:
          type: integer
        comment_id:
          type: integer
        creation_date:
          type: integer
        score:
          type: integer
        edited:
          type: boolean
        body:
          type: string
        owner:
          $ref: "#/components/schemas/User"
        reply_to_user:
          $ref: "#/components/schemas/User"
        content_license:
          type: string
